<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="memberList">
		SELECT
			  MEMBER_CODE
			, MEMBER_ID
			, MEMBER_PWD
			, NAME
			, GENDER
			, MEMBER_LEVEL
			, REGIST_DATE
			, EXTEND_YN
			, EXPIRY_DATE
		  FROM SP_MEMBER
	</entry>
	<entry key="searchMember">
		SELECT
			  MEMBER_CODE
			, MEMBER_ID
			, MEMBER_PWD
			, NAME
			, GENDER
			, MEMBER_LEVEL
			, REGIST_DATE
			, EXTEND_YN
		 	, EXPIRY_DATE
		 FROM SP_MEMBER
		WHERE NAME = ?
	</entry>
	<entry key="changeExpiryDate">
		UPDATE
			   SP_MEMBER
		   SET EXPIRY_DATE = ?
		     , EXTEND_YN = 'Y'
		 WHERE NAME = ?
	</entry>
		<entry key="deleteMember">
		DELETE
		  FROM SP_MEMBER
	     WHERE NAME = ?
	</entry>
	<entry key="joinMembership">
		INSERT
		  INTO SP_MEMBER
		 (
		 	MEMBER_CODE
		  , MEMBER_ID
		  , MEMBER_PWD
		  , NAME
		  , GENDER
		  , MEMBER_LEVEL
		  , REGIST_DATE
		  , EXTEND_YN
		  , EXPIRY_DATE
		 )
		 VALUES
		 (
		    SEQ_MEMBER_CODE.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , DEFAULT
		  , ?
		 )
	</entry>
</properties>












