@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    margin: 50px;
}

a {
    color: black;
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1 {
    margin: 15px;
    color: white;
}

h6 {
    background: black;
    color: yellowgreen;
    text-align: center;
}

.main-circle {
    background: yellowgreen;
    border-radius: 50%;
    width: 300px;
    height: 100px;
    font-size: 25px;
    text-align: center;
    font-family: 'DM Serif Display', serif;
    margin-left: 730px;
    margin-bottom: 100px;
}

.page-title {
    background: black;
}

.main-nav {
    display: flex;
    list-style: none;
    margin-top: 30px;
}

.main-nav li {
    margin-left: 50px;
    font-family: 'DM Serif Display', serif;
}

.main-nav a:hover {
    color: yellowgreen;
}

.main-nav a:hover {
    color: yellowgreen;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

/* .wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
} */

footer {
    text-align: center;
    padding: 10px 0;
}

footer p {
    color: yellowgreen;
}

.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.post-info {
    padding-left: 30px;
    font-family: 'Gothic A1', sans-serif;
}

.fron {
    background: yellowgreen;
    background-clip: padding-box;
    margin: 30px;
    padding: 20px;
    border : 5px dashed yellowgreen;
}

article {
    width: 80%;
    order: 2;
}

aside {
    width : 10%;
    order : 3;
}

.fish {
    order : 1;

}


.content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.sub-menu {    
    list-style-type: circle;
    text-align: center;
    font-family: 'DM Serif Display', serif;
}

h3 {
    background: yellowgreen;
    text-align: center;
    font-family: 'DM Serif Display', serif;
}

.cat-title {
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
}

.cat:hover {
    transform:scale(1.5);
}

#film-menu {
    background-image: url(../images/hyehye_021_\(2\).jpg);
    /* max-height: 100vh; */
}

h4 {
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
}